In [2]:
import sklearn as sk
import pandas as pd
import numpy as np

In [4]:
# df = pd.DataFrame(np.arange(0, 20).reshape(5, 4), index=['Row1',])

df=pd.DataFrame(np.arange(0,30).reshape(5,6), index=['Row1','Row2','Row3','Row4','Row5'], columns=['C1','C2','C3','C4','C5','C6'])
# this is showing an error, while working on jupyter notebook
df

      C1  C2  C3  C4  C5  C6
Row1   0   1   2   3   4   5
Row2   6   7   8   9  10  11
Row3  12  13  14  15  16  17
Row4  18  19  20  21  22  23
Row5  24  25  26  27  28  29